.box1{
    background-color:whites;
    
    }
.box2{
    position:relative;
    top: 2px;
    height: 140px;
    width: 140px;
    background-color:aquamarine;
 animation: agge 5s infinite;
}
@keyframes agge {
        from{
            width: 240px;
        }
        to{
            width:1000px;
        }
}